body {
    overflow-x: hidden;
}
.calculator {
    align-items: center;
    border: rgb(0, 0, 0);
    top: 20%;
    left: 20%;
    transform: translate(20%, 50%);
    overflow-x: hidden;
}
.title {
    font-size: 30px;
    padding-bottom: 20px;
}
input[type = "button"] {
    border: none;
    padding-right: 29px;
    padding-left: 30px;
    background: none;
}
input[type = "text"] {
    font-size: 20px;
    border-radius: 20px;
   
}
table {
    font-size: 30px;
    background-color: rgb(134, 157, 218, 0.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 50%;
    height: 100%;
    padding: 20px;
}

table tr td {
        font-size: 30px;

}
.op {
    border: none;
    background-color: white;
    width: 98%;
    padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
   .calculator{
   
    transform: translate(10%, 10%);
    
}}